<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.member">


	<insert id="memberAdd" parameterType="MemberDTO">
   insert into 
   usermember(um_id,um_loginid,um_passwd,um_name,um_email,um_tel,um_photo,um_photo_bg)
   values(um_id_seq.nextval,#{um_loginid},#{um_passwd},#{um_name},#{um_email},#{um_tel},#{um_photo},#{um_photo_bg})
	</insert>

</mapper>